<div class="container  box my-5 pb-5">
  <div class="columns  minw-80vh margin-auto  is-mobile is-multiline has-text-centered margin-auto">

    <div class="column is-12 mt-4">
      <h1 class="subtitle has-text-centered is-size-3">
        Bienvenido(a): {{retornarNombre() | titlecase}}
      </h1>
    </div>

    <div class="column is-12 ">

      <div class="tile is-ancestor">
        <div class="tile is-vertical is-12">

          <div class="tile">

            <div class="tile is-parent">
              <article class="tile is-child notification is-primary is-light shadowDegradadoPropio ">
                <figure class="image is-4by3">
                  <img src="assets/iconosDescargados/libreta.jpg">
                </figure>
                <p class="title mt-2">68</p>
                <p class="subtitle">Asignación de tasa</p>

              </article>
            </div>
            <div class="tile is-parent">
              <article class="tile is-child notification is-primary is-light shadowDegradadoPropio ">
                <figure class="image is-4by3">
                  <img src="assets/iconosDescargados/revision.jpg">
                </figure>
                <p class="title mt-2">68</p>
                <p class="subtitle">Revisión</p>
              </article>
            </div>
            <div class="tile is-parent">
              <article class="tile is-child notification is-primary is-light shadowDegradadoPropio ">
                <figure class="image is-4by3">
                  <img src="assets/iconosDescargados/autorizacion.jpg">
                </figure>
                <p class="title mt-2">68</p>
                <p class="subtitle">Autorización</p>
              </article>
            </div>
            <div class="tile is-parent">
              <article class="tile is-child notification is-primary is-light shadowDegradadoPropio ">
                <figure class="image is-4by3">
                  <img src="assets/iconosDescargados/ejecucion.jpg">
                </figure>
                <p class="title mt-2">68</p>
                <p class="subtitle">Ejecución</p>
              </article>
            </div>

          </div>

        </div>

      </div>


    </div>



  </div>
</div>
