<form method="POST" class="animate__animated animate__fadeInLeft">
  <div class="columns is-multiline">
    <div class="field mb-0 pb-0 column is-6-tablet">
      <label class="label">Nombres</label>
      <div class="control has-icons-left">
        <input
          class="input is-info"
          autocomplete="off"
          type="text"
          placeholder="Introduce tus nombres"
        />
        <span class="icon is-small is-left has-text-link-dark">
          <i class="fas fa-user"></i>
        </span>
      </div>
      <!-- <p class="help is-success">This username is available</p> -->
    </div>

    <div class="field column mb-0 pb-0 is-6-tablet">
      <label class="label">Apellidos</label>
      <div class="control has-icons-left">
        <input
          class="input is-info"
          type="text"
          placeholder="Introduce tus apellidos"
          autocomplete="off"
        />
        <span class="icon is-small is-left has-text-link-dark">
          <i class="fas fa-user"></i>
        </span>
      </div>
    </div>

    <div class="field column mb-0 pb-0 is-6-tablet">
      <label class="label">Nacionalidad</label>
      <div class="control has-icons-left">
        <div class="select is-fullwidth is-info">
          <select name="country">
            <option value="V">Venezolano ( V )</option>
            <option value="P">Pasaporte ( P )</option>
            <option value="E">Extranjero ( E )</option>
            <option value="J">Jurídico ( J )</option>
          </select>
        </div>

        <span class="icon is-small is-left has-text-link-dark">
          <i class="fas fa-passport"></i>
        </span>
      </div>
    </div>

    <div class="field column mb-0 pb-0">
      <label class="label">Cédula</label>
      <div class="control has-icons-left">
        <input
          class="input is-info"
          type="number"
          placeholder="Introduce tu cedula"
          autocomplete="off"
        />
        <span class="icon is-small is-left has-text-link-dark">
          <i class="fas fa-id-card"></i>
        </span>
      </div>
    </div>

    <div class="field column is-12 mb-0 pb-0">
      <label class="label">Email</label>
      <div class="control has-icons-left">
        <input
          class="input is-info"
          type="email"
          placeholder="Introduce tu Email"
          autocomplete="off"
        />
        <span class="icon is-small is-left has-text-link-dark">
          <i class="fas fa-at"></i>
        </span>
      </div>
    </div>

    <div class="field column mb-0 pb-0">
      <label class="label">Usuario</label>
      <div class="control has-icons-left">
        <input
          class="input is-info"
          type="text"
          placeholder="Introduce tu usuario"
          autocomplete="off"
        />
        <span class="icon is-small is-left has-text-link-dark">
          <i class="fas fa-user"></i>
        </span>
      </div>
    </div>

    <div class="field column mb-0 pb-0">
      <label class="label">Contraseña</label>
      <div class="control has-icons-left">
        <input
          class="input is-info"
          type="text"
          placeholder="Introduce tu contraseña"
          autocomplete="off"
        />
        <span class="icon is-small is-left has-text-link-dark">
          <i class="fas fa-key"></i>
        </span>
      </div>
    </div>
  </div>

  <div class="field has-text-centered is-family-monospace">
    <p class="control py-2">
      <button class="button is-info is-uppercase" type="button">
        Registrarse
      </button>
    </p>

    <p class="is-size-6">
      <a [routerLink]="['']" rou class="has-text-dark"
        >¿Ya tienes cuenta? INGRESA YA</a
      >
    </p>
  </div>
</form>
