<section class="hero image-curia is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div
          class="column is-12-mobile is-6-tablet is-offset-3-tablet box box-transparent animate__animated animate__fadeInLeft"
        >
          <p class="image is-image-200px margin-auto pt-2">
            <img
              src="assets/logo/logoPrincipal.jpg"
              class="is-rounded-60 mh-100 animate__animated animate__fadeInLeft"
            />
          </p>
          <h1
            class=" is-size-4 mb-1 title has-text-centered has-text-dark is-uppercase mt-2 animate__animated animate__fadeInLeft"
          >
            Diócesis de carúpano
          </h1>

          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</section>
