<div class="container">
  <div class="columns is-mobile is-multiline has-text-centered margin-auto">

    <div class="column is-12 my-3">
      <h1 class="subtitle has-text-centered is-size-3">
        Bienvenido(a): {{retornarNombre() | titlecase}}
      </h1>
    </div>

    <div class="column is-3-desktop  is-4-tablet is-mobile">
      <div class="card bg-azul box-shadow-Propio" [routerLink]="['usuarios']" >
        <div class="card-image">
          <figure class="image is-4by3">
            <img
            class="my-1"
              src="./assets/iconosDescargados/iconoUser.svg"
              alt="Placeholder image"
            />
          </figure>
        </div>
        <div class="card-content">
          <div class="">
            <p class="title is-5 has-text-centered has-text-white is-uppercase"> Usuarios </p>
          </div>
        </div>
      </div>
    </div>

    <div class="column is-3-desktop  is-4-tablet is-mobile">
      <div class="card bg-verde box-shadow-Propio" [routerLink]="['proyectos']">
        <div class="card-image">
          <figure class="image is-4by3">
            <img
            class="my-1"
              src="./assets/iconosDescargados/iconoProyectos.svg"
              alt="Placeholder image"
            />
          </figure>
        </div>
        <div class="card-content">
          <div class="">
            <p class="title is-5 has-text-centered has-text-white is-uppercase"> Proyectos </p>
          </div>
        </div>
      </div>
    </div>



  </div>
</div>
