<article class="panel is-info">
  <p class="panel-heading has-text-centered">
    <span [ngSwitch]="rutaActual">
      <span *ngSwitchCase="'usuarios'"> Usuarios </span>
      <span *ngSwitchCase="'proyectos'"> Proyectos </span>
      <span *ngSwitchDefault> Usuarios </span>
    </span>
  </p>
  <p class="panel-tabs">
    <a routerLinkActive="is-active" [routerLink]="['/administrador/usuarios']"
      >Usuarios</a
    >
    <a routerLinkActive="is-active" [routerLink]="['/administrador/proyectos']">Proyectos</a>
    <a>Rendición</a>
    <a>Solicitudes</a>
  </p>

  <ng-container [ngSwitch]="rutaActual">
      <app-tab-panel-usuario *ngSwitchCase="'usuarios'" ></app-tab-panel-usuario>
      <app-tab-panel-proyectos  *ngSwitchCase="'proyectos'"></app-tab-panel-proyectos>
      <app-tab-panel-usuario    *ngSwitchDefault ></app-tab-panel-usuario>
  </ng-container>
</article>
