<nav class="navbar  is-fixed-top" [ngClass]="{'is-info': path === 'administrador', 'is-primary':path !== 'administrador'}" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <div class="navbar-item" *ngIf="path === 'administrador'">
      <button class="button is-info" type="button" data-show="quickview" data-target="MenuAdministrativo" >
        <i class="fas fa-stream"></i>
      </button>
    </div>
    <a class="navbar-item is-uppercase" [routerLink]="rutaEnvio">
      <h1>Diócesis de carúpano</h1>
    </a>

    <a
      role="button"
      class="navbar-burger burger"
      aria-label="menu"
      aria-expanded="false"
      data-target="navbarBasicExample"
    >
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item" [routerLink]="rutaEnvio">
        Inicio
      </a>

      <ng-container *ngIf="path === 'administrador'; else itemNavbarSolicitante">


      </ng-container>

      <ng-template #itemNavbarSolicitante>
        <a class="navbar-item" routerLink="/solicitante/bancos/listar" routerLinkActive="is-active">
          Listar bancos
        </a>
        <a class="navbar-item" routerLink="/solicitante/agregar-solicitud" routerLinkActive="is-active">
          Registrar solicitud
        </a>
        <a class="navbar-item" routerLink="/solicitante/listar-solicitud" routerLinkActive="is-active">
          Listar solicitudes
        </a>
      </ng-template>



      <div class="navbar-item has-dropdown is-hoverable">
        <a  class="navbar-link ">
          {{nameUser() | titlecase}}
        </a>


        <!-- is-active -->
        <div class="navbar-dropdown is-right">
          <a [routerLink]="['modificar-cuenta']" class="navbar-item">
            Mi cuenta
          </a>

          <a [routerLink]="['modificar-cuenta/modificar-clave']" class="navbar-item">
            Cambiar mi contraseña
          </a>

          <a [routerLink]="['modificar-cuenta/modificar-datos']" class="navbar-item">
            Modificar mis datos
          </a>
          <hr class="navbar-divider" />
          <a (click)="logoutUser()" class="navbar-item">
            cerrar sesión
          </a>



        </div>
      </div>
    </div>
  </div>
</nav>




