<form method="POST" class="animate__animated animate__fadeInLeft">
  <div class="field">
    <label class="label">Usuario</label>
    <div class="control has-icons-left">
      <input
        class="input is-info"
        autocomplete="off"
        type="text"
        placeholder="Introduce tu usuario"
      />
      <span class="icon is-small is-left has-text-link-dark">
        <i class="fas fa-user"></i>
      </span>
    </div>
    <!-- <p class="help is-success">This username is available</p> -->
  </div>

  <div class="field">
    <label class="label">Contraseña</label>
    <div class="control has-icons-left">
      <input
        class="input is-info"
        type="password"
        placeholder="Introduce tu contraseña"
        autocomplete="off"
      />
      <span class="icon is-small is-left has-text-link-dark">
        <i class="fas fa-key"></i>
      </span>
    </div>
    <!-- <p class="help is-danger">This email is invalid</p> -->
  </div>

  <div class="field has-text-centered is-family-monospace">
    <p class="control py-2">
      <button [routerLink]="['administrador']" class="button is-info is-uppercase" type="button">
        Iniciar sesión
      </button>
    </p>

    <p class="is-size-6">
      <a [routerLink]="['registro']" rou class="has-text-dark"
        >¿ No tienes cuenta ? REGISTRATE YA</a
      >
    </p>

    <p class="is-size-6">
      <a [routerLink]="['recuperar']"  class="has-text-dark"
        >¿ Has olvidado tu contraseña ?</a
      >
    </p>
  </div>
</form>
