<form action="">
  <div class="columns is-multiline">
    <div class="column is-12">
      <h2 class="has-text-centered title is-uppercase">Asignar usuario a proyecto</h2>
    </div>

    <div class="field mb-0 pb-0 is-6-tablet column">
      <label class="label">Proyecto</label>
      <div class="control has-icons-left">
        <div class="select is-fullwidth is-info">
          <select>
            <option selected disabled >Seleccione el proyecto</option>
            <option value="">construccion de la casa jose miguel</option>
          </select>
        </div>
        <span class="icon is-small is-left has-text-link-dark">
          <i class="fas fa-file-signature"></i>
        </span>

      </div>
    </div>

    <div class="field mb-0 pb-0 is-6-tablet column">
      <label class="label">Usuario</label>
      <div class="control has-icons-left">
        <div class="select is-fullwidth is-info">
          <select>
            <option selected disabled >Seleccione el usuario</option>
            <option value="">jose miguel</option>
          </select>
        </div>
        <span class="icon is-small is-left has-text-link-dark">
          <i class="fas fa-user"></i>
        </span>
      </div>
    </div>


    <div class="field is-12 column has-text-centered is-family-monospace">
      <p class="control py-2">
        <button class="button is-info is-uppercase" type="button">
          Agregar usuario
        </button>
      </p>
    </div>


  </div>
</form>
