<div class="modal animate__animated is-active" [ngClass]="{'animate__fadeInDown': active, 'animate__fadeOutUp':!active}"  >
  <!-- <div class="modal-background"></div> -->
  <div class="modal-card " style="width:320px;">


<header class="modal-card-head">
  <p class="modal-card-title"> Introduzca la clave enviada </p>
  <button class="delete" aria-label="close" (click)="cerrarDialog()"></button>
  </header>
    <section class="modal-card-body">

      <div class="columns is-multiline" [formGroup]="claveForm">
        <div class="column is-12">
          <div class="field">
            <!-- <label class="label">Tasa</label> -->
            <p class="control has-icons-left">
              <input class="input is-info" formControlName="clave" type="text" >
              <span class="icon is-small is-left has-text-link-dark">
                <i class="fas fa-code"></i>
              </span>
            </p>
            <p
            class="help"
            [ngClass]="{
              'is-danger': claveForm.get('clave')?.errors,
              'is-dark': claveForm.get('clave')?.errors === null
            }"
          >
            {{ mostrarErrores("clave") }}
          </p>
          </div>
        </div>

      </div>


    </section>
  <footer class="modal-card-foot" style="overflow: auto;" >
    <button class="button is-success" type="button" [disabled]="claveForm.invalid" (click)="asignar()">Usar clave</button>
    <button class="button is-danger" type="button" (click)="cerrarDialog()">Cerrar</button>
  </footer>

  </div>
</div>
