<form action="">

  <div class="columns is-multiline">
    <div class="column is-12">
      <h2 class="has-text-centered title is-uppercase">Modificar proyecto</h2>
    </div>

    <div class="field mb-0 pb-0 is-12 column">
      <label class="label">Proyecto a modificar</label>
      <div class="control has-icons-left">
        <div class="select is-fullwidth is-info">
          <select>
            <option selected disabled >Seleccione el proyecto</option>
            <option value="">construccion de la casa jose miguel</option>
          </select>
        </div>
        <span class="icon is-small is-left has-text-link-dark">
          <i class="fas fa-file-signature"></i>
        </span>

      </div>
    </div>

    <div class="field mb-0 pb-0 is-12 column">
      <label  class="label">Nombre del proyecto</label>
      <div class="control has-icons-left">
        <input type="text" class="input is-info" autocomplete="off" placeholder="Introduce el nombre del proyecto">
        <span class="icon is-small is-left has-text-link-dark">
          <i class="fas fa-file-signature"></i>
        </span>
      </div>
    </div>

    <div class="field mb-0 pb-0 is-6-tablet column">
      <label  class="label">Código</label>
      <div class="control has-icons-left">
        <input type="text" class="input is-info" autocomplete="off" placeholder="Introduce el codigo del proyecto">
        <span class="icon is-small is-left has-text-link-dark">
          <i class="fas fa-code"></i>
        </span>
      </div>
    </div>

    <div class="field mb-0 pb-0 is-6-tablet column">
      <label  class="label">Alias</label>
      <div class="control has-icons-left">
        <input type="text" class="input is-info" autocomplete="off" placeholder="Introduce el nombre del alias">
        <span class="icon is-small is-left has-text-link-dark">
          <i class="fas fa-file-alt"></i>
        </span>
      </div>
    </div>

    <div class="field is-12 column has-text-centered is-family-monospace">
      <p class="control py-2">
        <button class="button is-info is-uppercase" type="button">
          Modificar proyecto
        </button>
      </p>
    </div>
  </div>

</form>
