<div id="MenuAdministrativo" class="quickview">
  <header class="quickview-header is-dark">

    <p class="title is-uppercase">Menu administrativo</p>
    <span class="delete" data-dismiss="quickview"></span>
  </header>

  <div class="quickview-body">

    <aside class="menu">

      <p class="menu-label">Modulo de solicitudes</p>
      <ul class="menu-list">
        <li>
          <ul>
            <li>
              <a routerLink="/administrador/solicitudes/listar/solicitud" routerLinkActive="is-active">
                <i class="fab fa-accusoft"></i>
                Por asignación de tasa
              </a>
            </li>
            <li>
              <a routerLink="/administrador/solicitudes/listar/revision" routerLinkActive="is-active">
                <i class="fas fa-eye"></i>
                Por revisión
              </a>
            </li>
            <li>
              <a routerLink="/administrador/solicitudes/listar/autorizacion" routerLinkActive="is-active">
                <i class="fas fa-check"></i>
                Por autorización
              </a>
            </li>
            <li>
              <a routerLink="/administrador/solicitudes/listar/ejecucion" routerLinkActive="is-active">
                <i class="fas fa-check"></i>
                Por ejecución
              </a>
            </li>
            <li>
              <a routerLink="/administrador/solicitudes/listar/ejecutados" routerLinkActive="is-active">
                <i class="fas fa-check"></i>
                Ejecutadas
              </a>
            </li>
            <li>
              <a routerLink="/administrador/solicitudes/listar/rechazadas" routerLinkActive="is-active">
                <i class="fas fa-check"></i>
                Rechazadas
              </a>
            </li>
          </ul>
        </li>
      </ul>

      <p class="menu-label">
        Modulo de usuario
      </p>
      <ul class="menu-list">
        <li>
          <ul>
            <li>
              <a [routerLink]="['/administrador/usuarios/crear-usuario']" routerLinkActive="is-active" >
                <i class="fas fa-user-plus "></i>
                Crear cuenta
              </a>
            </li>
            <li>
              <a [routerLink]="['/administrador/usuarios/listar-inactivos']" routerLinkActive="is-active">
                <i class="fas fa-users"></i>
                Listar cuentas <small>( Inactivas )</small>
              </a>
            </li>
            <li>
              <a   [routerLink]="['/administrador/usuarios/listar-activos']" routerLinkActive="is-active">
                <i class="far fa-list-alt"></i>
                Listar cuentas <small>( Activas )</small>
              </a>
            </li>
            <li>
              <a  [routerLink]="['/administrador/usuarios/control-permisos']" routerLinkActive="is-active">
                <i class="fas fa-plus-circle"></i>
                Control de permisos
              </a>
            </li>
          </ul>
        </li>
      </ul>
      <p class="menu-label">Modulo de proyectos</p>
      <ul class="menu-list">
        <li>
          <ul>
            <li>
              <a routerLink="/administrador/proyectos/crear-proyecto" routerLinkActive="is-active" >
                <i class="fas fa-file"></i>
                Crear proyecto
              </a>
            </li>
            <li>
              <a routerLink="/administrador/proyectos/listar-proyectos" routerLinkActive="is-active" >
                <i class="fas fa-file"></i>
                Listar proyectos
              </a>
            </li>
            <li>
              <a routerLink="/administrador/aumentar-proyecto/aprobado" routerLinkActive="is-active">
                <i class="fas fa-euro-sign"></i>
                Aumentar aprobado del proyecto
              </a>
            </li>
            <li>
              <a routerLink="/administrador/aumentar-proyecto/aprobado-desde-comision" routerLinkActive="is-active">
                <i class="fas fa-dollar-sign"></i>
                Aumentar aprobado desde el proyecto comisión
              </a>
            </li>
          </ul>
        </li>
      </ul>
      <p class="menu-label">Modulo de concepto</p>
      <ul class="menu-list">
        <li>
          <ul>
            <li>
              <a routerLink="/administrador/conceptos/registrar" routerLinkActive="is-active">
                <i class="fas fa-plus"></i>
                Agregar concepto
              </a>
            </li>
            <li>
              <a routerLink="/administrador/conceptos/listar" routerLinkActive="is-active">
                <i class="fas fa-plus"></i>
                Listar conceptos
              </a>
            </li>
          </ul>
        </li>
      </ul>
      <p class="menu-label">Modulo de bancos</p>
      <ul class="menu-list">
        <li>
          <ul>
            <li>
              <a routerLink="/administrador/bancos/registrar" routerLinkActive="is-active">
                <i class="fas fa-university"></i>
                Agregar banco
              </a>
            </li>
            <li>
              <a routerLink="/administrador/bancos/listar" routerLinkActive="is-active">
                <i class="fas fa-university"></i>
                Listar bancos
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </aside>
  </div>




  <!-- <footer class="quickview-footer">

  </footer> -->
</div>
