<h2 class="has-text-centered" *ngIf="permisosUser.success === 3"> Cargando... </h2>
<div class="has-text-centered" *ngIf="permisosUser.success === 2">
  <button class="button is-danger">Cargar nuevamente la data</button>
</div>
<div *ngIf="permisosUser.success === 1">
  <ng-container *ngIf="(addTrashPermisos | async) as addtrshPermisos">
    <hr class="navbar-divider my-4" />


  <div class="table-container">
    <table
      class="table has-text-centered is-striped is-hoverable is-fullwidth"
    >
      <thead class="has-background-info">
        <tr class="py-3">
          <th class="has-text-white minw-250">Nombre del permiso</th>
          <th class="has-text-white">Acciones</th>
        </tr>
      </thead>

      <tbody >

        <tr *ngFor="let permiso of allPermisos; let i = index">
          <td>{{ permiso.name }}</td>
          <td class="mb-0 field is-grouped is-grouped-centered">

            <p class="control" *ngIf="!comprobarIgualdad(permiso.name)">
              <button
              class="button mb-0 is-success"
              [disabled]="addtrshPermisos.loading"
              type="button"
              (click)="agregarPermiso(permiso.name, idAdmin)"
            >
              <i class="fas fa-plus"></i>
            </button>
            </p>

            <p class="control"  *ngIf="comprobarIgualdad(permiso.name)">
              <button
              class="button mb-0 is-danger"
              [disabled]="addtrshPermisos.loading"
              type="button"
              (click)="eliminarPermiso(permiso.name, idAdmin)"
            >
              <i class="fas fa-trash-alt"></i>
            </button>
            </p>

          </td>
        </tr>


      </tbody>
    </table>
  </div>
  </ng-container>



</div>
