<div class="columns is-multiline">
  <div class="column is-12">
    <h2 class="has-text-centered title is-uppercase">
      Eliminar permisos
    </h2>
  </div>

  <div class="field mb-0 pb-0 column is-6-tablet">
    <mat-form-field appearance="outline" class="is-12 column" >
      <mat-label>Usuario</mat-label>
      <mat-select>
        <mat-option selected> Seleccione</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="field mb-0 pb-0 column is-6-tablet">
    <mat-form-field appearance="outline" class="is-12 column" >
      <mat-label>Permiso</mat-label>
      <mat-select multiple>
        <mat-option selected> Seleccione</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
