<a routerLink="/administrador/proyectos/crear-proyecto" routerLinkActive="is-active" class="panel-block ">
  <span class="panel-icon">
    <i class="fas fa-file"></i>
  </span>
  Crear proyecto
</a>

<a routerLink="/administrador/proyectos/listar-proyectos" routerLinkActive="is-active" class="panel-block ">
  <span class="panel-icon">
    <i class="fas fa-file"></i>
  </span>
  Listar proyectos
</a>

<a routerLink="/administrador/proyectos/modificar-proyecto" routerLinkActive="is-active" class="panel-block ">
  <span class="panel-icon">
    <i class="fas fa-file-alt"></i>
  </span>
  Modificar proyecto
</a>

<a routerLink="/administrador/proyectos/usuario-proyecto" routerLinkActive="is-active" class="panel-block ">
  <span class="panel-icon">
    <i class="fas fa-user"></i>
  </span>
  Asignar usuario a proyecto
</a>
